*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


header{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1000;
}

.main_content img, .banner img,.patrocinio img{
    width: 100%;
}

.patrocinio img{
    padding: 20px 0;
}

.main_content{
    background-color: #f3f3f3;
}

.banner{
    min-height: 635px;
}

.banner h1{
    padding-right: 10%;
    width: 700px;
}

.banner-title span:first-child{
    color: #000000;
    font-size: 32px;
    line-height: 26.36px;
    text-transform: uppercase;
    letter-spacing: -1.28px;
    text-align: center;
    margin-left: 30px;
}

.banner-title span{
    color: #e41218;
    font-family: "Helvetica";
    font-size: 200px;
    font-weight: 700;
    line-height: 161.8px;
    letter-spacing: -1.3px;
    margin-top: -30px;
}

.banner-title span:last-child{
    color: #000000;
    font-size: 60px;
    line-height: 68.88px;
    text-transform: uppercase;
    letter-spacing: -0.98px;
    margin-top: 0;
    margin-left: 10px;
}

.navbar a{
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #ffffff !important;
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    position: relative;
    padding-top: 30px;
}

.navbar img{
    padding-top: 5px;
}

.navbar a:before{
    content:"";
    position: absolute;
    width: 0;
    top: 0;
    left:0;
    height: 5px;
    background-color: #e41218;
    transition: all 0.3s ease-in-out;
    
}

.navbar a:hover::before, .active::before{
    content:"";
    position: absolute;
    width: 100% !important;
    top: 0;
    left:0;
    height: 5px;
    background-color: #e41218;
    transition: all 0.3s ease-in-out;
    
}

.main_content h2{
    color: #e41218;
    font-family: "Helvetica";
    font-size: 120px;
    font-weight: 700;
    line-height: 98px;
    letter-spacing: -1.05px;
    position: relative;
    margin-top: 35%;
    transform: translateY(-50%);
}

.main_content span{
    color: #ffffff;
    font-family: "Helvetica";
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -1.2px;
    background-color: #000000;
    padding: 15px;
    position: absolute;
    bottom: -30%;
    left: 40%;
}

.second-span{
    bottom: -20% !important;
}

footer{
    color: #fff;
    padding: 40px 0;
    font-family: "Helvetica";
}

.tel-footer{
    color:#e41218;
    line-height: 20px;
    font-size: 14px;
}

.footer-background{
    background-color: #000;
}

footer ul{
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}

footer h3 span{
    color: #e41218;
}

footer p{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 0;
}

footer address{
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top:42px;
}

footer h3{
    font-size: 42px;
    font-weight: 700;
    line-height: 32.32px;
    letter-spacing: -1.82px;
    letter-spacing: -1.82px;
}

.parceiros-col{
    background-color: #f3f3f3;
    text-align: center;
}

.parceiros p{
    font-family: "Helvetica";
    font-size: 22px;
    font-weight: 700;
    line-height: 11.38px;
    letter-spacing: -1.32px;
    margin-bottom: 0;
}

.eye-text{
    background-color: red;
    position: absolute;
    top: 35%;
    transform: translateX(100px);
    right: 0;
    z-index: 2;
    font-family: "Helvetica";
    padding: 20px;
}

.eye-text p{
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.91px;
}


.eye-text p:first-child{
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 11.38px;
    letter-spacing: -1.32px;
}


@media(max-width:1199px){
    .banner-title span:last-child {
        font-size: 44px;
        margin-top: -20px;
    }
    .banner-title span {
        font-size: 170px;
    }
    .banner-title span:first-child {
        font-size: 25px;
    }
    .banner h1 {
        width: 600px;
    }
    .main_content h2 {
        margin-top: 32%;
    }
}

@media(max-width:991px){
    .banner {
        background-position: top;
    }
    .main_content h2 {
        margin-top: 30%;
        font-size: 80px;
        line-height: 80px;
    }
    .menu-mobile{
        border-radius: 15px;
        border: 5px solid rgba(0, 0, 0, 0.2);
        padding: 30px !important;
        background-color: rgba(0, 0, 0, 0.76) !important;
    }

    .eye-banner{
        display: none;
    }
    
}

@media(max-width:767px){
    .parceiros-col{
        padding: 20px;
    }
    .banner h1 {
        width: 540px;
    }
    .main_content h2 {
        margin-top: 18%;
        font-size: 100px;
        line-height: 90px;
    }
}

@media(max-width:576px){
    .banner h1 {
        width: 391px;
    }
    .banner-title span {
        font-size: 120px;
    }
    .banner-title span:last-child {
        font-size: 35px;
        margin-top: -45px;
    }
    .main_content h2 {
        margin-top: 34%;
    }
}
